.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
}

.mediaIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
    width: 240px;
    padding: 20px;
}

.contentInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}