.movieList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.movies {
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}